<%- include('./partials/navbar.ejs') %>
    <hr>
        <h1 class="text-center"><i class="fas fa-th-list"></i> Lista de Consultas</h1>
    <hr>
    <div class="container ps-5 pe-5">
        <form action="/search" method="GET">
            <div class="input-group mb-4 shadow-sm">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                <input class="form-control" type="search" name="search" id="search" placeholder="CPF ou E-mail..." autocomplete="off"/>
            </div>
        </form>
    </div>
    <div class="container p-5">
        <div class="card shadow p-3 mb-5 bg-body rounded">
            <div class="card-body">
                <table class="table table-hover text-center">
                    <thead>
                        <tr>
                            <th><i class="fas fa-user-plus"></i> Nome</th>
                            <th><i class="fas fa-envelope"></i> E-mail</th>
                            <th><i class="fas fa-id-card"></i> CPF</th>
                            <th><i class="fas fa-cogs"></i> Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% appos.forEach(r => { %>
                        <tr>
                            <td><%= r.name %></td>
                            <td><%= r.email %></td>
                            <td><%= r.cpf %></td>
                            <td><button class="btn btn-danger disabled"><i class="fas fa-trash"></i></button></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include('./partials/footer.ejs') %>